//styles for embedded google maps
@media only screen and (max-width:500px) {
  #gmap {
    height: 430px;
  }
}
@media only screen and (min-width: 500px) {
  #gmap {
  height: 600px;
  width: 100%;
  background-color: lightgrey;
  }
}
@media only screen and (min-width: 1201px) {
  #gmap {
  	width: 80vw;
   	position: relative;
    left: 50%;
    transform: translate(-50%,0);
  }
}
.gmapInfoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gmapInfoWrapper .infoImage {
  height: 80px;
  resize-mode: both;
  background-color: black;
}
.gmapInfoWrapper .infoText {
  width: 120px;
  text-align: center;
}
@media only screen and (max-width:500px) {
  .gmapInfoWrapper .infoImage {
    height: 60px;
  }
}


//styles for CG filter
/* Container - needed to position the dropdown content */
.cgFilter {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.filterLabel {
  text-align: right;
  display: inline-block;
  margin-right: 30px;
}
/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 160px;
}
.dropbtn:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #fff;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  transition: border-radius 1s,background-color 1s;
  border-radius: 5px;
  background-color: gray;
  outline: none;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

//more cg info modal
.moreCgInfoModal {
  display: block;
  height:0;
  overflow:hidden;
  width: 90%;
  transform: translate(-50%,0);
  left: 50%;
  transition: height 1s;
  position: absolute;
  bottom: 20px;
  background-color: white;
  background: linear-gradient(to bottom, #FFF 0%, #EEE 100%);
}
@media only screen and (min-width: 1201px) {
  .moreCgInfoModal {
  	width: 50vw;
  }
}
.moreCgInfoModal.show {
  display: block;
  height: 120px;
}
.cgModalContent {
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px -3px 5px grey;
  padding: 10px;
  font-size: 12px;
}
.cgName {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #EEE;
  font-weight: bold;
  font-size: 14px;
}
